@model StreetFighter.Web.Models.FichaTecnicaModel
@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

       <div class="corpo">
            <h1 id="ficha-tecnica">Blanka</h1>

            <table>
                <tr>
                    <td>
                        <img src="imagens/blanka.png" alt="Imagem-blanca" />
                    </td>

                    <td>
                        <p> <strong>Primeira aparição:</strong> Street Fighter II The World Warrior (1991) </br>
                        <p> <strong>Nascimento:</strong> 12 de fevereiro de 1966.</br>
                        <p> <strong>Altura:</strong> 192cm. <br>
                        <p> <strong>Peso:</strong> 96kg. <br>
                        <p> <strong>Medidas:</strong> B198, C120, Q172.  <br>
                        <p> <strong>Tipo sanguíneo:</strong> B. <br>
                        <p> <strong>Habilidades especiais:</strong> Caçar, Eletricidade. <br>
                        <p> <strong>Gosta:</strong> Frutas tropicais, Pirarucu, Sua mãe. <br>
                        <p> <strong>Desgosta:</strong> Army ants (espécie de formiga). <br>
                        <p> <strong>Estilo de luta:</strong> Luta Selvagem autodidata (Army Ants) / Capoeira. <br>
                        <p> <strong>Origem:</strong> Brasil (lugar de nascença é provável como sendo Tailândia). <br>
                        <p> <strong>Uma fala de vitória:</strong> "Ver você em ação é uma piada!" <br>
                        <p> <strong>SSF2 nickname:</strong> "A selvagem criança da natureza". <br>
                        <p> <strong>SFA3 nickname:</strong> "A animal pessoa amazônica". <br>
                        <p> <strong>SF4 nickname:</strong> "Guerreiro da selva". <br>
                        <p> <strong>SFA3 stage:</strong> Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira: talvez possa
                         ser Mato Grosso, ou Tocantins?). <br>
                        <p> <strong>SF2 stage:</strong> Bacia do rio Amazonas (Brasil). <br>
                        <p> <strong>Golpes especiais famosos:</strong> Electric Thunder, Rolling Attack.
                        
                    </td>
                </tr>

            </table>





        </div>

    </div>
