@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "Listagem";

}

<h2>Listagem</h2>


@*


    @foreach (var personagem in Model)
    {
        personagem.Nome;
    }


    Essa tela deve exibir uma grid contendo os nomes dos
        personagens cadastrados no sistema. Ao ser clicado em
        alguma linha o sistema deve redirecionar para a
        tela de "Ficha Tecnica" carregando os dados detalhados
            desse personagem.
   
    
    
     @model List<StreetFighter.Dominio.Personagem>

*@


<div class="container">
    <div class="row">
        <div class="col-md-8">
        Hello</div> <!-- Esta coluna terá um tamanho de 8/12 -->
        <div class="col-md-4">
        World</div> <!-- Esta coluna terá um tamanho de 4/12 -->
    </div>
</div>


<h3>
    OLÁ GEEENTS!   
</h3>


@foreach (var personagem in Model)
{
    personagem.Nome;
}

