
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="titulo">
    <h1>Sobre</h1>

</div>


<div class="corpo">


    <h1 id="sobre">Anna Silva</h1>

    <table>
        <tr>
            <td>

                <img id="imagem" src="imagens\girl-in-tech.jpg" alt="Girl-HigthTech" />
            </td>

            <td>
                <p>
                    <strong>Nome Completo:</strong> Anna Luísa de Oliveira da Silva </br>
                    <strong>Nascimento:</strong> 17 de março de 1997.</br>
                    <strong>Altura:</strong> 153cm. <br>
                    <strong>Filiação:</strong> Luís Fernando e Adelaide da Silva.  <br>
                    <strong>País de Origem:</strong> Brasil. <br>
                    <strong>Cidade Natal:</strong> Sapiranga / RS. <br>
                    <strong>Área de Formação:</strong> Tecnologia da Informação. <br>
                    <strong>Universidade:</strong> Unisinos. <br>
                    <strong>Habilidades especiais:</strong> Comunicativa, criativa, amigável. <br>
                    <strong>Gosta:</strong> Comida caseira de minha mãe. <br>
                    <strong>Desgosta:</strong> Pão de queijo e marshmallow. <br>
                    <strong>Bebida Predileta:</strong> Chimarrão e Suco de Laranja, não os dois de uma vez, se não dá Jabulani!<br>
                    <strong>Frase:</strong> "Live each day with a thankful heart". <br>
                    <strong>Uma fala de vitória:</strong> "Turn down for what?" B)  hahaha'<br>
                    <strong>Nickname:</strong> "Anninha". <br>
                    <strong>Mentor:</strong> Jesus Cristo. <br>
                    <strong>Hobbies:</strong> Escutar música, ler. <br>
                    <strong>Bandas Favoritas:</strong> Casting Crowns, Third Day, Jeremy Camp, Planetshakers, MercyMe, Newsboys... <br>
                    <strong>Objetivo desta Page:</strong> Pôr em prática o aprendizado que estou recebendo no Módulo 3, atrávez do treinamento
                    do Projeto Crescer realizado pelos proficionais da CWI Software. <br>
                </p>
            </td>
        </tr>

    </table>
</div>


